pandas==1.5.3
numpy==1.24.2
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.2.2
sqlalchemy==2.0.9
jupyterlab==3.6.3
notebook==6.5.4
openpyxl==3.1.2
xlrd==2.0.1
meteostat>=1.6
holidays>=0.11
statsmodels>=0.13